@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

/* Transparent white (paragraphs)
Very light gray (background, headings, buttons)
font size 15  */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: auto;
  min-width: 375px;
}

main {
  width: 900px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.topic-1,
.topic-2,
.topic-3 {
  height: 100%;
  padding: 45px;
}

.topic-1 {
  background-color: var(--Bright-orange);
  grid-area: 1/1/2/2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
img {
  margin-bottom: 35px;
}

h3 {
  text-transform: uppercase;
  color: var(--Very-light-gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  margin-bottom: 35px;
}

p {
  color: var(--Transparent-white);
  line-height: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  margin-bottom: 100px;
}

.topic-2 {
  background-color: var(--Dark-cyan);
  grid-area: 1/2/2/3;
}

.topic-3 {
  background-color: var(--Very-dark-cyan);
  grid-area: 1/3/2/4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  padding: 15px 35px;
  border-radius: 90px;
  text-transform: capitalize;
  border: 0px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  border: 3px solid white;
  transition: all 0.75s ease-in-out;
}

.b1 {
  color: var(--Bright-orange);
}

.b2 {
  color: var(--Dark-cyan);
}

.b3 {
  color: var(--Very-dark-cyan);
}

:where(.b1, .b2, .b3):hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: all 1.5s ease;
}

@media (max-width: 930px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    margin-top: 1000px;
    min-width: 275px;
    max-zoom: 80%;
  }
  .topic-1 {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .topic-3 {
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  p {
    margin-bottom: 30px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
    padding-bottom: 30px;
  }
}
